@import "tailwindcss";

@theme {
  --color-primary: #ffc404;
  --color-primary-hover: #ffab04;
  --color-background-start: #29251c;
  --color-background-end: #2c2306;
  --color-surface: #1d1a16;
  --color-surface-light: #312c1d;
  --color-modal-surface: #e4ddd4;
  --color-error-surface: #f9b8b8;
  --color-error-text: #6d0b0b;
  --color-text-main: #d9e2f1;
  --color-text-inverse: #1f1a09;
  --color-text-muted: #46443c;
  --color-border-light: #ccc;
}

@layer base {
  body {
    font-family: 'Raleway', sans-serif;
  }
}

@layer utilities {
  .modal-backdrop::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
  }
}

/* Ensure dialog has max size correctly */
dialog {
  max-width: 40rem;
  width: 80%;
}